v12/src/App_OPCUA_ODM/www.ibm.com.acmfg-odm.examples.simpleschema/SimpleAirConditionerObject.xsd

<?xml version="1.0" encoding="utf-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http:// www.ibm.com/acmfg-odm/examples/simpleschema">
   <element name="AirConditionerObject">
      <complexType>
         <sequence>
         <element name="temperature" type="float"/>
         <element name="humidity" type="float"/>
		 <element name="status" type="string"/>
         </sequence>        
      </complexType>
   </element>
</schema>